main {
    margin: auto;
    width: 50%;
}

section {
    display: flex;
    justify-content: space-between;
}

.tile {
    font-size: 20px;
    font-weight: bold;
    border: black 1px solid;
    width: 100%;
    text-align: center;
    padding: 30px;
}

.tile:hover {
    cursor: pointer;
}