main {
    padding: 10px;
}

#input {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    border: black 2px solid;
    padding: 5px;
    margin-bottom: 10px;
}

#input > #inputTodo {
    flex-grow: 8;
    border: none;
}

#input > #inputTodo:focus, #input > #buttonAdd:focus {
    outline: none;
}

#input > #buttonAdd {
    border: none;
    background-color: transparent;
    flex-grow: 1;
}

.todoItem {
    background-color: wheat;
}