html {
    font-family: Arial, Helvetica, sans-serif;
}

input {
    border-radius: 15px;
    border-width: 1px;
    border-color: #9b9a9a;
    border-style: solid;
    box-shadow: 0px 0px 5px rgba(66,66,66,.75);
    margin: 5px 10px 5px 0px;
    padding: 5px;
}

input:focus {
    outline: none;
}

.buttons > input {
    border-radius: 6px;
    font-weight:bold;
    background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    cursor:pointer;
}

.buttons > input:hover {
    background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	background-color:#e9e9e9;
    border-radius: 6px;
}

.buttons > input:active {
	position:relative;
	top:1px;
}

.buttons {
    justify-content: flex-end;
}

section {
    display: flex;
    flex-direction: row;
}

.grow1 {
    flex-grow: 1;
}

.grow3 {
    flex-grow: 3;
}

.grow5 {
    flex-grow: 5;
}